# Database Configuration
DATABASE_CLIENT=postgres
DATABASE_HOST=postgres
DATABASE_PORT=5432
DATABASE_NAME=aidi_cms
DATABASE_USERNAME=admin
DATABASE_PASSWORD=admin
DATABASE_SSL=false
DATABASE_FILENAME=


# Strapi Configuration
NODE_ENV=production
HOST=0.0.0.0
PORT=1337

# Security Keys (Generate these for production)
APP_KEYS=your-app-keys-here,replace-with-your-keys
API_TOKEN_SALT=your-api-token-salt-here
ADMIN_JWT_SECRET=your-admin-jwt-secret-here
JWT_SECRET=your-jwt-secret-here
TRANSFER_TOKEN_SALT=your-transfer-token-salt-here 