# Database Configuration
DATABASE_CLIENT=postgres
#DATABASE_HOST=postgres
#DATABASE_PORT=5432
#DATABASE_NAME=aidi_cms
#DATABASE_USERNAME=admin
#DATABASE_PASSWORD=admin
DATABASE_SSL=true
DATABASE_FILENAME=

DATABASE_HOST=__DATABASE_HOST__
DATABASE_PORT=__DATABASE_PORT__
DATABASE_NAME=__DATABASE_NAME__
DATABASE_USERNAME=__DATABASE_USERNAME__
DATABASE_PASSWORD=__DATABASE_PASSWORD__

# Strapi Configuration
NODE_ENV=production
HOST=0.0.0.0
PORT=1337

# Security Keys (Generate these for production)
#APP_KEYS=your-app-keys-here,replace-with-your-keys
#API_TOKEN_SALT=your-api-token-salt-here
#ADMIN_JWT_SECRET=your-admin-jwt-secret-here
#JWT_SECRET=your-jwt-secret-here
#TRANSFER_TOKEN_SALT=your-transfer-token-salt-here 

APP_KEYS=__CWEB_APP_KEYS__
API_TOKEN_SALT=__CWEB_API_TOKEN_SALT__
ADMIN_JWT_SECRET=__CWEB_ADMIN_JWT_SECRET__
JWT_SECRET=__CWEB_JWT_SECRET__
TRANSFER_TOKEN_SALT=__CWEB_TRANSFER_TOKEN_SALT__
ENCRYPTION_KEY=__CWEB_ENCRYPTION_KEY__

INIT_ADMIN=true
INIT_ADMIN_USERNAME=__INIT_ADMIN_USERNAME__
INIT_ADMIN_PASSWORD=__INIT_ADMIN_PASSWORD__
INIT_ADMIN_EMAIL=aidi@aidi.world
INIT_ADMIN_FIRSTNAME=AIDI
INIT_ADMIN_LASTNAME=Company